li.daytime-card {
    list-style: none;
    width: 350px;
    display: inline-block;
    height: 170px;
    background-color: #eeeeee;
    margin: 0 20px 20px 0;
    cursor: pointer;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
}

li.daytime-card::first-letter {
    text-transform: capitalize;
}

div.daytime {
    font-weight: 800!important;
    font-size: 20px;
}

ul.guests {
    font-style: italic;
    font-size: 16px;
    margin: 5px 0;
    color: #484848;
}

li.guest span {
    text-transform: capitalize;
}

li.guest {
    display: inline;
    list-style: none;
}

li.guest::before {
    content: ' ';
}

li.guest::after {
    content: ',';
}

li.guest:last-child::after {
    content: ''; 
}

div.dish {
    margin: 10px 0;
}