li.daytime-card {
    list-style: none;
    margin-top: 30px;
}

li.daytime-card::first-letter {
    text-transform: capitalize;
}

div.daytime {
    font-weight: 800!important;
    font-size: 30px;
}

li.guest span {
    text-transform: capitalize;
}

li.guest {
    display: inline;
    list-style: none;
}

li.guest::before {
    content: ' ';
}

li.guest::after {
    content: ',';
}

li.guest:last-child::after {
    content: ''; 
}